@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

body {
  font-family: 'Droid Sans', sans-serif;
  text-shadow: 2px 2px rgba(0, 0, 0, .1);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .headerText {
    width: auto;
    font-size: 5em;
    text-shadow: 3px 3px rgba(0, 0, 0, .1);
  }

  .interests {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: scroll;
    width: 800px;

    .selected {
    }
  }
}

